* {
  box-sizing: border-box;
}

:root {
  --bgc: green;
  --dark-mode-bgc:rgb(33, 77, 3);
  --color: yellow;
  --dark-mode-color: black;

  --box-shadow: 0px 4px 13px 4px rgba(0, 0, 0, 0.35);
  --light-gradient: radial-gradient(rgb(239, 205, 142), wheat, wheat, white);
}

body {
  text-align: center;
  background-color: var(--bgc);
  font-family: sans-serif;
}

body.dark-mode{
  background-color: var(--dark-mode-bgc);
}

h1 {
  font-size: min(10vw, 4em);
  color: var(--color);
  /* text-decoration: underline; */
  margin-bottom: 0.2em;
}

h1.dark-mode{
  color: var(--dark-mode-color);
}


button {
  font-size: min(3vw, 1.3em);
  font-weight: 700;
  padding: 0.3em 0.5em;
  border: none;
  border-radius: 0.3em;
  margin: 0.4em;
  background: radial-gradient(grey, grey, lightblue);
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

table {
  border-spacing: 0.8em;
}

.display-mode {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  font-size: min(2.5vw, 1em);

}

.display-mode span {
  display: block;
}

.lives-counter {
  color: var(--color);
  margin: auto;
  border-top: 0.15em dashed var(--color);
  border-bottom: 0.15em dashed var(--color);
  padding: 0.5em;
  margin-bottom: 0.6em;
  font-size: 2em;
  width: 60%;
}

.lives-counter.dark-mode{
  color: var(--dark-mode-color);
  border-color: var(--dark-mode-color);
}

.hud {
  width: 60%;
  margin: auto;
}

.timer {
  display: inline;
  position: absolute;
  left: 20vw;
  font-size: min(5vw, 2em);
  margin-top: 0vh;
}

.modal {
  font-size: 3vh;

  position: absolute;
  left: 35%;
  top: 35%;
  width: 30%;
  height: 30%;
  background: var(--light-gradient);
  box-shadow: var(--box-shadow);
}

.message {
  font-size: 5vh;

  font-weight: 700;
}

.hidden {
  display: none;
}

.table-container {
  /* border: 0.05em solid black; */
  margin: auto;
  /* background-color: black; */
}

.cell {
  border: 0.05em solid black;
  text-align: center;
  font-weight: 600;
  padding: 0;
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  cursor: pointer;
  background: radial-gradient(grey, grey, grey, lightblue);
  cursor: pointer;
  border-radius: 0.3em;
  border: none;
  margin: 5px;
  box-shadow: var(--box-shadow);
}

.smiley-button {
  font-size: min(5vw, 2em);
  padding: 0;
  margin: auto;
}

.reveled {
  /* background: radial-gradient(  rgb(152, 103, 18),brown, brown, black) ; */
  background: var(--light-gradient);
}